<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/todos">HashtagTodo</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if request.endpoint == 'app_user.todos' %}class="active nav-item"{% else %}class="nav-item"{% endif %}><a href="/todos">Todos</a></li>
        <li {% if request.endpoint == 'app_user.calendars' %}class="active nav-item"{% else %}class="nav-item"{% endif %}><a href="/calendars">Calendars</a></li>
        <li {% if request.endpoint == 'app_user.account' %}class="active nav-item"{% else %}class="nav-item"{% endif %}><a href="/account">Account</a></li>
        {%if g.user.is_admin %}
        <li class="nav-item"><a href="/admin/dashboard"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Admin</a></li>
        {% endif %}
        <li class="nav-item"><a href="#" onclick="$('#sign-out').submit(); return false;">Sign out ({{ g.user.email }})</a></li>
      </ul>
    </div>
  </div>
</nav>
<form id="sign-out" action="/logout" method="post">
  <input name="_csrf_token" type="hidden" value="{{ session['_csrf_token'] }}">
</form>
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{ message }}
  </div>
  {% endfor %}
  {% endwith %}
</div>
